<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @u_ser.nom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @u_ser.email %>
</p>

<%= link_to 'Edit', edit_u_ser_path(@u_ser) %> |
<%= link_to 'Back', u_sers_path %>
